.App {
  background-color: #eee;
}

.exitButton {
  position: absolute;
  right: 0;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
}

h1 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h5 {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-align: center;
  margin-top: -20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer .input {
  margin-top: 10px;
}
